@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Emilys+Candy&family=Jersey+25&family=Marmelad&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ribeye&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1:#52CB49;
    --cor2:#235920;
    --cor3:#041207ec;
}

body{
    background:linear-gradient(to bottom, var(--cor3), var(--cor1));
    min-height: 100vh;
}

header{
    color: white;
    background-color:#041207a0 ;
    text-align: center;
    padding: 10px;
    font-family: 'Jersey 25', sans-serif;
    font-size: 30px;
    font-weight: normal;
}

h2{
    color: white;
    padding-top:10px ;
    font-family: 'Jersey 25', sans-serif;
    font-weight: normal;
    margin: 5px;
}

p{
    text-align: justify;
}

.pergunta{
    margin: 10px;
    font-size: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    color: white;
    font-family: 'marmelad', sans-serif;
    font-weight: normal;
    max-width: 800px;
    min-width: 100px;
    margin: 20px auto;
}
.habilidade{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card ul{
    margin-left: 20px;
}

.card:hover{
    transform: scale(1.03); /*aumenta o tamanho do conteudo em 30%*/
}

.pergunta{
    display: block;
    padding: 5px;
}
.oportunidade:hover{
    color:black;
    background-color: #235920a2;
    border-radius: 10px;
    padding: 10px;
}
a{
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    padding-top: 10px;
}

a:hover{
    color: #235920;
    text-decoration: underline;
}

footer p {
    background-color: #041207ec;
    color: white;
    text-align: center;
    display: block;
    padding: 10px;
    font-family: 'Jersey 25', sans-serif;
    font-weight: normal;
}

@media  (max-width:600px) {
    .card{
        max-width: 330px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
}