@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Emilys+Candy&family=Jersey+25&family=Marmelad&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ribeye&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1:#52CB49;
    --cor2:#235920;
    --cor3:#041207ec;
}

body{
    background:linear-gradient(to bottom, var(--cor3), var(--cor1));
    min-height: 100vh;
}

header{
    background-color:rgb(28, 28, 28);
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 5px 15px;
    padding-left: 40px;
    }
    .logo{
        font-size: 30px;
        font-family: 'Jersey 25', sans-serif;;
        font-weight: normal;
        color: white;
        
    }
    header > p{
        font-weight: 200px;
        font-size: 20px;
        color: white;
        padding: 0px;
        margin: 0px;
        padding-bottom: 10px;
    }
     nav>a{
        color: white;
        text-decoration: none;
        font-weight: normal;
        font-size: 20px;
        font-family: "Jersey 25", sans-serif;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
     .card a:hover{
        text-decoration: underline;
        color: #52CB49;
      
    }

    .menu{
        display: flex;
        gap: 30px;
    }

    h1{
        text-align: center;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 40px;
        margin-bottom: 20px;
        color: white;
        padding-top: 20px;
    }
    
    .imgcss{
        width: 300px;
        height: 200px;
        padding-top: 20px;
        border-radius: 10px;
    }
    div#html{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        
    }
    .imgcss img{
        width: 100%;
        height: auto;
        box-shadow: 2px 2px solid rgba(0, 0, 0, 0.5);
    }

    .back{
        width: 300px;
        height: 200px;
        padding-top: 20px;
        border-radius: 10px;
    }
    .back img{
        width: 100%;
        height: auto;
        box-shadow: 2px 2px solid rgba(0, 0, 0, 0.5);
    }
    .mobile{
        width: 300px;
        height: 200px;
        padding-top: 20px;
        border-radius: 10px;
    }
    .mobile img{
        width: 100%;
        height: auto;
        box-shadow: 2px 2px solid rgba(0, 0, 0, 0.5);
    }
    
@media (max-width:700px) {
    
    header{
        flex-direction: column;
        align-items:flex-start;
        background: 100%;
        background-color:rgb(28, 28, 28) ;
    }
   

.menu{
    display: block;
}
}
h2{
    color: white;
    padding-top:10px ;
    font-family: 'Jersey 25', sans-serif;
    font-weight: normal;
    margin: 5px;
}

p{
    text-align: justify;
}

.pergunta{
    margin: 10px;
    font-size: 20px;
}

.card {
    background-color:#0412078d ;
    border: 1px solid #0412071d;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    color: white;
    font-family: 'marmelad', sans-serif;
    font-weight: normal;
    max-width: 800px;
    min-width: 100px;
    margin: 20px auto;
}
.habilidade{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card ul{
    margin-left: 20px;
}

.card:hover{
    transform: scale(1.03); /*aumenta o tamanho do conteudo em 30%*/
}

.pergunta{
    display: block;
    padding: 5px;
}
.oportunidade:hover{
    color:black;
    border-radius: 10px;
    padding: 10px;
}
a{
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    padding-top: 10px;
}

a:hover{
    color: #52CB49;
    text-decoration: underline;
}

footer p {
    background-color: #041207ec;
    color: white;
    text-align: center;
    display: block;
    padding: 20px;
    font-family: 'Jersey 25', sans-serif;
    font-weight: normal;
}

@media  (max-width:600px) {
    .card{
        max-width: 330px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
}